# Salin fail ini kepada .env dan isi nilai sebenar
# JANGAN push .env ke GitHub

MODEL_GDRIVE_ID=your_model_file_id_here
TOKENIZER_GDRIVE_ID=your_tokenizer_file_id_here
SECRET_KEY=tukar_kepada_string_rawak_anda
